@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,900&display=swap');

*:before,
*:after{
    box-sizing: border-box;
}

*{
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ececec;
}

.box{
    background-color: #fff;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    box-shadow: 2px 2px 8px rgba(0,0,0,.5); 
}

.box label{
    margin-right: 15px;
    font-size: 20px;
}

.box .button{
    width: 37px;
    height: 37px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    font-weight: 200;
}

.box .button:active{
    background: #ccc;
}

.box input{
    width: 60px;
    padding:  5px 10px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
    margin: 0 15px;
}

.btnRelatorio{
    background-color: #151c48;
    color: white;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}